body {
  background-color: rgba(4, 212, 4, 0.5);
  text-align: center;
  font-family: Marker Felt, fantasy;
  color: black;
  margin: 5%;

}

h1 {
  padding-bottom: 15px;
}

.btn {
  background-image: linear-gradient(to bottom, #12a802, #02c232, #03d442, #04d449, #68f844, #72f17d, #c5cbd6, #b9b9b9, #6d6d6d, #585858, #2e2e2e, #000000);
  color: black;
  border-color: black;
  font-family: Chalkduster, fantasy;
}

.btn:hover {
  color: black;
  border-color: rgb(4, 212, 4)
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: groove;
  border-color: black;
  font-family: Chalkduster, fantasy;
  text-align: center;
  margin: 25px;
  margin-top: 75px;
}

#output {
  margin: 30px;
  text-decoration: underline;
  font-size: x-large;
  background-color: rgba(4, 212, 4, 0.5);
  ;
}

.showIngredients{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: justify
}

#top, #bottom, #left, #right {
	background-image: url(https://bit.ly/2Kz0Kd3);
  position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 45px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top {
		left: 0; right: 0;
		height: 90px;
    }
    
    #bottom {
      left: 0; right: 0;
      height: 60px;
      }

		#top { top: 0; }
		#bottom { bottom: 0; }
